/* Reset CSS */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}

.tac-one-regular {
    font-family: "Tac One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Styles généraux */
body {
    font-family: "Tac One", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* main {
    padding: 20px;
} */

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Media Queries pour le côté responsive */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    nav ul li {
        margin-right: 0;
    }
}

.image {
    width: 500px;
    margin: 20px;
}

h3 {
    text-decoration: underline;
    color: red;
    margin: 20px;
}

p {
    margin: 20px;
}

#Titre {
    text-decoration: wavy;
    color: blue;
}

body {
    background-image: url(img/alexander-grey-epRlEd6oTmE-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}

.imageSmall {
    width: 50px;
}

.imageSmall:hover {
    opacity: 50%;
}

label {
    display: block;
    font-weight: bold;
    color: white;
}
fieldset {
    text-align: center;
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    background-image: url(img/eric-prouzet-ykJarCefKqE-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.moi {
    background-image: url(img/michael-hacker-b4aKXCeevtc-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.parcours {
    background-image: url(img/gerald-schombs-GBDkr3k96DE-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}

.compétences {
    color: white;
    background-image: url(img/1337068.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}

.article {
    display: flex;
    border: solid black;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black
}

.imgArticle {
    width: fit-content;
    max-height: 300px;
    border-radius: 20px;
}

.lessons {
    background: linear-gradient(
        90deg,
        rgba(226, 212, 5, 1) 0%,
        rgba(224, 144, 58, 1) 35%,
        rgba(255, 25, 0, 1) 100%
    );
}

.TP {
    background: linear-gradient(
        90deg,
        rgba(5, 210, 226, 1) 0%,
        rgba(58, 173, 224, 1) 35%,
        rgba(0, 56, 255, 1) 100%
    );
}

.containeur{
    display: flex;
    justify-content: center;
}